#dialog {
    display: none;
    background: #fff;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: calc(100vw - 2rem);
    height: calc(100vh - 2rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    padding: 1rem;
    justify-content: center;
}

#dialog__close {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1rem;
    cursor: pointer;
}