* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 none;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Indie Flower", cursive;
  background: #000;
}

:root {
  --background-color: #0d0d0d;
  --btn-background-color: #ce311a;
  --btn-border-color: #d9d9d9;
  --text-color: #c7af5f;
  --text-outline-color: #c7af5f;
  --border-radius: 5px;
}
