* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0 none;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Indie Flower', cursive; 
}

#gameboard {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#gameboard__scoreboard {
    position: absolute;
    top: 5%;
    left: 10%;
}

#gameboard__container progress {
    rotate: -90deg;
    margin-top: 50%;
}