#gameboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: transparent;

  background-position: center center;
  background-size: cover;
}

#gameboard__timer {
  position: fixed;
  top: 1rem;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 10;
  padding: 1rem 4rem;
  font-size: 2.5rem;
  font-weight: bold;
  /* background-color: var(--btn-background-color); */
  background-color: #ecd8bb;
  color: var(--text-color);
  /* border: 1px solid var(--btn-border-color); */
  -webkit-text-stroke: 1px var(--text-outline-color);
  border-radius: var(--border-radius);
  box-shadow: rgb(208, 188, 11) 3px 3px 6px 0px inset,
    rgba(227, 198, 7, 0.5) -3px -3px 6px 1px inset;
}

#gameboard__current-key {
  position: fixed;
  top: 5rem;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 10;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 1.7rem;
  margin-top: 2rem;
  /* background-color: var(--btn-background-color); */
  background-color: #ecd8bb;
  color: var(--text-color);
  -webkit-text-stroke: 1px var(--text-outline-color);
  /* border: 1px solid var(--btn-border-color); */
  border-radius: var(--border-radius);
  box-shadow: rgb(208, 188, 11) 3px 3px 6px 0px inset,
    rgba(227, 198, 7, 0.5) -3px -3px 6px 1px inset;
}

#gameboard__speed {
  position: fixed;
  bottom: 1rem;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 10;
  padding: 1rem 4rem;
  font-size: 1.7rem;
  font-weight: bold;
  /*  background-color: var(--btn-background-color); */
  background-color: #ecd8bb;
  color: var(--text-color);
  /*  border: 1px solid var(--btn-border-color); */
  -webkit-text-stroke: 1px var(--text-outline-color);
  border-radius: var(--border-radius);
  box-shadow: rgb(208, 188, 11) 3px 3px 6px 0px inset,
    rgba(227, 198, 7, 0.5) -3px -3px 6px 1px inset;
}

#explosion-effect {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  z-index: 20;
}
